<div class="container">
  <h1 class="journal-title">Journal Entries</h1>
  <%= @journal_entries.each do |journal| %>
    <div class="journal-entry-container">
      <div class="journal-entry">
        <p class="journal-entry-emoji"><%= journal.icon %></p>
        <p><%= journal.content %></p>
      </div>
    </div>
  <% end %>
</div>
