<div class="row">
  <div class="col-12">
    <div class='nested-fields'>
      <div class="form-row align-items-center">
        <div class="col-11">
          <%= f.association :category, prompt: 'e.g., homelessness', label_html: {class: "sr-only"} %>
        </div>
        <div class="col-1 delete-btn-margin-bottom">
          <%= link_to_remove_association '', f, class: 'fas fa-minus-circle form-delete-btn' %>
        </div>
      </div>
    </div>
  </div>
</div>
