<div class='nested-fields'>
    <%= f.input :name, placeholder: 'home, work, cottage, etc.' %>
    <%= f.input :address, placeholder: '550 René-Levesque boulevard' %>
    <%= link_to_remove_association "remove location", f %>
</div>
