<div class='nested-fields'>
  <%= f.input :name,
              placeholder: 'home, work, cottage, etc.',
              label: 'Where do you spend most of your time?',
              label_html: { class: 'label-form' } %>
  <%= f.input :address, placeholder: '550 René-Levesque boulevard' %>
  <%= link_to_remove_association '', f, class: 'fas fa-minus-circle' %>
</div>
