<h1>This is the profile quiz page</h1>

<%= form_with model: @user do |user_form| %>
  <%= fields_for :location, @user.location do |location_form| %>
    <%= location_form.text_field :address %>
  <% end %>
<% end %>
