<div class="bottom_nav">
  <div class="bottom_nav-links">
    <a href="#"><i class="fas fa-hand-holding-heart"></i></a>
    <a href= "#"><i class="fas fa-search"></i></a>
    <a href="#"><i class="fas fa-user-circle"></i>
  </div>
</div>
