<link rel="stylesheets">

<div class="container">
	<div class="card">
		<figure class="card__thumb">
			<img src="https://source.unsplash.com/75S9fpDJVdo/300x510" alt="Picture by Kyle Cottrell" class="card__image">
			<figcaption class="card__caption">
				<h2 class="card__title">Org Name</h2>
				<p class="card__snippet">Org Description</p>
				<a href="" class="button">View Details</a>
			</figcaption>
		</figure>
	</div>

	<div class="card">
		<figure class="card__thumb">
			<img src="https://source.unsplash.com/71u2fOofI-U/300x510" alt="Picture by Nathan Dumlao" class="card__image">
			<figcaption class="card__caption">
				<h2 class="card__title">Org Name</h2>
				<p class="card__snippet">Org Description</p>
				<a href="" class="card__button">View Details</a>
			</figcaption>
		</figure>
	</div>

	<div class="card">
		<figure class="card__thumb">
			<img src="https://source.unsplash.com/qXMpNtNp1uE/300x510" alt="Picture by Daniel Lincoln" class="card__image">
			<figcaption class="card__caption">
				<h2 class="card__title">Org Name</h2>
				<p class="card__snippet">Org Description</p>
				<a href="" class="card__button">View Details</a>
			</figcaption>
		</figure>
	</div>
</div>
