<div id="hero-carousel" class="carousel slide hero-img" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("hero-image.jpg", class: "img-fluid") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("hero-image.jpg", class: "img-fluid") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("hero-image.jpg", class: "img-fluid") %>
    </div>
  </div>
</div>
