<div id="hero-carousel" class="carousel slide hero-img" data-ride="carousel">
  <div class="carousel-inner">
    <% 1.upto(6) do |n| %>
      <div class="carousel-item <%= n == 1 ? 'active' : '' %>">
        <%= image_tag("carousel/carousel-#{n}.jpg", class: "img-fluid") %>
      </div>
    <% end %>
  </div>
</div>
