<div class="explore-card p-3">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="explore-card-information">
    <h2>Organization name</h2>
    <p>Address, phone number, etc</p>
  </div>
</div>
