<div class="hero">
  <h1><strong>altrooist</strong></h1>
  <h2>100+ volunteer opportunities<br/>
      across Quebec.<br/>
      curated search results<br/>
      just for you</h2>
  <%= link_to "Explore", curated_path, class: "button" %>

</div>
