<div class="hero">
  <h1><strong>altrooist</strong></h1>
  <div class="hero-container">
    <h3>100+ volunteer <br/>
      opportunities<br/>
      across Quebec,<br/>
      prioritized to<br/>
      suit you best.<br/>
    </h3>
    <div>
      <%= link_to "Volunteer now!", curated_path, class: "button" %>
    </div>
  </div>
</div>
