<div class="hero">
  <h1><strong>altrooist</strong></h1>
  <div class="hero-container">
    <h3>100+ volunteer opportunities across Quebec, prioritized to suit you best.</h3>
    <div>
    <%= link_to "Volunteer now!", curated_path, class: "btn btn-info" %>
    </div>

    <div class="carousel-container" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag("hero-image.jpg", class:"hero-img")%>
        </div>
        <div class="carousel-item">
          <%= image_tag("hero-image.jpg", class:"hero-img")%>
        </div>
        <div class="carousel-item">
          <%= image_tag("hero-image.jpg", class:"hero-img")%>
        </div>
      </div>
    </div>
  </div>
</div>
