<div class="hero">
  <h1><strong>altrooist</strong></h1>
  <div class="hero-container">
    <h3>100+ volunteer opportunities<br/>
      across Quebec.<br/>
      curated search results<br/>
      just for you
    </h3>
    <div>
      <%= link_to "Explore", edit_profile_path, class: "button" %>
    </div>
  </div>
</div>
