<div class="navbar_avatar navbar_avatar-expand-sm navbar_avatar-light navbar">
  <%= link_to "#", class: "navbar_avatar-profile" do %>
  <%= image_tag "https://avatars.githubusercontent.com/u/86730369?v=4" %>
  <% end %>
</div>
