<div class="card_org">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card_org-infos">
    <h2>Organization name</h2>
    <p>Address, Phone Number</p>
  </div>
</div>
