h1 {
  color: $green;
  margin-top: 20px;
  margin-left: 20px;
  font-family: $headers-font;
  font-size: 48px;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgba(255,255,255, 0.2);
}

h2 {
  color:white;
  font-family: $headers-font;
  font-size:24px;
}

h3 {
  color: $green;
  font-family: $body-font;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.6;
  margin-left: 10px;
}

p {
  color:black;
  font-family: $body-font;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  height: 5vh;
  padding-top: 23px;
}

.navbar-search-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
