.journal-title {
  margin: 24px auto;
  font-size: 36px;
}

.journal-entry-container {
  background: $green;
  margin-top: 24px;
}

.journal-entry {
  border: 2px solid $green;
  position: relative;
  padding: 10px;
  padding-top: 2px;
  bottom: 8px;
  right: 8px;
  background: white;
}

.journal-entry-emoji {
  font-size: 20px;
  color: $coral;
  margin-bottom: 0;
}
