.journal-title {
  margin: 24px auto;
  font-size: 36px;
}

.journal-entry-container {
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    margin-top: 24px;
}

.journal-entry {
    border: 2px dashed $green;
    padding: 10px;
    padding-top: 2px;
    background: white;
}

journal-entry-emoji {
    font-size: 20px;
    color: $coral;
    margin-bottom: 0;
    text-align: right;
}
