.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
  margin-bottom: 8px;
  font-size: 18px;
}

.category-item label {
  position: relative;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}


.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 16px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: #fff;
  color: #eee;
}

@keyframes stamp {
  from {
    opacity: 0;
    transform: scale(3)
  }
  to {
    opacity: 1;
    transform: scale(1)
  }
}

.category-selector:checked + label {
  background-color: #fff;
  color: $green !important;
  animation-name: stamp;
  animation-duration: 0.125s;
  animation-timing-function: belzier(0, 1.9, 1);
  position: relative;
  z-index: 99
}
.category-selector:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px dashed #325B20;
}
