.organization-profile {
    border: 2px solid $green;
    padding: 10px;
    background: white;
    margin: 20px auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.organization-contact-form {
  display: flex;
  flex-direction: column;
}

.organization-contact-form textarea {
  margin-bottom: 16px;
}
