.organization-profile {
    border: 2px solid $green;
    padding: 10px;
    background: white;
    margin: 20px auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.organization-contact-form {
  display: flex;
  flex-direction: column;
}

.organization-contact-form textarea {
  margin-bottom: 16px;
}

.organization-profile img {
  max-width: 40%;
}

.organization-profile-details {
  color: #ddd !important;
  padding-left: 14px;
  overflow-wrap: anywhere;
}

.organization-profile-info h2,
.organization-contact {
  color: $green;
  margin-top: 16px;
}

.organization-profile-info p {
  line-height: 1.6;
}

.organization-profile-top {
  display: flex;
  color: #bbb;
}

.organization-profile-details p {
  padding-left: 14px;
}
