
<div class= "wrapper">
  <%=render "components/navbar"%>
</div>

<div class="wrapper">
  <%=render "components/hero"%>
</div>

<%# <div class="wrapper"> %>
  <%# <%= render "components/card_org" %>
<%# </div> %>
