<div class="content">
    <div class="slideshow">

      <div class="slideshow-items">

        <div class="item">
          <img class="item-image" src="https://i.pinimg.com/564x/23/a4/86/23a4860b8b70b1eb27f2791b97aaee8e.jpg" />
          <!-- Staggered Header Elements -->
          <span class="vertical-part"><b>N</b></span>
          <span class="vertical-part"><b>i</b></span>
          <span class="vertical-part"><b>k</b></span>
          <span class="vertical-part"><b>e</b></span>
        </div>

        <div class="item">
            <img class="item-image" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a1232e48702241.589f548dc6bee.jpg" />
          <!-- Staggered Header Elements -->
            <span class="vertical-part"><b>S</b></span>
            <span class="vertical-part"><b>p</b></span>
            <span class="vertical-part"><b>o</b></span>
            <span class="vertical-part"><b>t</b></span>
            <span class="vertical-part"><b>i</b></span>
            <span class="vertical-part"><b>f</b></span>
            <span class="vertical-part"><b>y</b></span>
        </div>

        <div class="item">
            <img class="item-image" src="https://i2.wp.com/www.futuristarchitecture.com/wp-content/uploads/2016/11/fantastic-small-living-room-interior-idea-7.jpg?w=700&ssl=1" />
          <!-- Staggered Header Elements -->
            <span class="vertical-part"><b>A</b></span>
            <span class="vertical-part"><b>i</b></span>
            <span class="vertical-part"><b>r</b></span>
            <span class="vertical-part"><b>b</b></span>
            <span class="vertical-part"><b>n</b></span>
            <span class="vertical-part"><b>b</b></span>
        </div>

      <div class="controls">
        <ul>
          <li class="control" data-index="0"></li>
          <li class="control" data-index="1"></li>
          <li class="control" data-index="2"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
