<div class= "wrapper">
  <%=render "components/navbar"%>
</div>

<div id="hero">
  <div class="wrapper">
    <h1><strong>altrooist</strong></h1>
    <h2>100+ volunteer opportunities<br/>
        across Quebec.<br/>
        curated search results<br/>
        just for you</h2>
      <%# <%= link_to "personalize your search", form_path, class: "button" %> %>
  </div>
</div>

<div class="card_index">
  <div class="wrapper">
    <h2>explore Montreal</h2>
    <%=render "components/card_index"%>
  </div>
</div>
