.card_org {
  overflow: hidden;
  width: 320px;
  height: 120px;
  border-radius: 5px;
  background: white;
  display: flex;
  align-items: center;
}

.card_org img {
  height: 65px;
  width: 90px;
  object-fit: cover;
}

.card_org h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
}

.card_org p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.card_org .card_org-infos {
  padding: 16px;
}
