.hero {
    background-color: $green;
    background-size: cover;
    padding: 20px;
    margin-bottom: 80px;
    position: relative;
}
.hero h1 {
    text-align: left;
    color: white;
    text-shadow: none;
    margin-left: 0;
}
.hero h3 {
    color: white;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 0;
    line-height: 1.6;
    font-size: 18px;
    width: 80%;
}
.hero-img {
    width: 175px;
    height: 225px;
    position: absolute;
    bottom: -140px;
    right: 24px;
}
.carousel-container {
    width: 175px;
    position: absolute;
    bottom: -40px;
    right: 24px;
}
.btn-info {
    background-color: $coral;
    background: $coral;
    border: 1px solid $coral;
}
