.hero {
    background-color: $green;
    background-size: cover;
    padding: 20px;
    margin-bottom: 120px;
    position: relative;
}
.hero h1 {
    text-align: left;
    color: white;
    text-shadow: none;
    margin-left: 0;
}
.hero h3 {
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 0;
    line-height: 1.6;
    font-size: 18px;
    width: 80%;
}
.hero-img {
    width: 160px;
    height: 190px;
    position: absolute;
    bottom: -105px;
    right: 24px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    overflow: hidden;
}
.carousel-container {
    width: 175px;
    position: absolute;
    bottom: -40px;
    right: 24px;
}
.btn-info {
    background-color: $coral;
    background: $coral;
    border: 1px solid $coral;
}
