.my-organization-card img {
    min-width: 80px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;

}

.my-organization-card-container {
    background: $green;
    margin-top: 50px;

}

.my-organization-card {
    border: 2px solid $green;
    position: relative;
    padding: 10px;
    bottom: 8px;
    right: 8px;
    background: white;
    margin: 20px auto;
}

.my-organization-card-top-section {
    display: flex;
    align-items: center;
}

.my-organization-card h3 {
    color: $green;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}

.my-organization-card h4 {
    font-size: .8rem;
}

.my-organization-card hr {
    display: block;
    height: 1px;
    background-color: $green;
    width: 90%;
}

.my-organization-card-bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
