.navbar {
  align-items: center;
  justify-content: space-between;
  padding: none;
  width: 100vw;
}

.navbar-logo {
  height: 60px;
  width: auto;
}

.search-bar {
  position: relative;
}

.search-bar-button {
  color: $coral;
  width: 5px;
  height: inherit;
  position: absolute;
  right: 20px;
  top: 6px;
}

.search-bar ::placeholder {
  color:  #D1D1D1;
}
