.navbar {
  display:inline-flex;
  background: $cream;
  width: 100vw;
  height: 5vh;
  padding: 20px;
}

.form-control {
margin-top: 12px;
justify-content: center;
width: 40vw;
border-radius: 15px;
}

.form-search {
width:20vw;
}

.form-group {
  display: inline-flex;
  height: 0;
}

.button {
margin-top: 12px;
margin-left: none;
padding:none;
border: none;
width: 5vw;
border-radius: 15px;
height: 5vh;
}

.navbar_avatar {
  justify-content: space-between;
  background: $cream;
  width: 10vw;
  height: 15vh;
}

.navbar_avatar .navbar_avatar-profile img {
  width: 60px;
  border-radius: 90px;
}
