.navbar-container {
  align-items: center;
  justify-content: space-between;
  margin: none;
}

.navbar-logo {
  height: 60px;
  width: auto;
}

.search-bar-button {
  color: $coral;
  width: 5px;
  height: inherit;
}
