.search-form-control {
  position: relative;
  width: 210 px;
  height: 40px;
  border-color: coral;
  border-width: medium;
  border-radius: 15px;
  color: #FFFBF3
}

.search-form-control .btn {
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  color: coral;
  border-radius: 15px;
}
