<div>
  <h1>Welcome to Curated List</h1>
  <% @curated_organizations.each do |co| %>
    <p>
      <%= co.organization.name %><br>
      <%= co.organization.address %><br>
      <%= co.humanize_distance %><br>
      Matched Profile Category: "<%= co.organization.category.name %>"<br>
    </p>
  <% end %>
</div>
